.main-nav li {
    width: 100%;
    margin-bottom: 1em;
}

.main-nav a {
    display: block;
    background: #438bbd;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
    background-color: #275270;
}

@media only screen and (min-width: 768px) {
    .main-nav ul {
        display: flex;
        justify-content: center;
    }

    .main-nav li {
        margin: 10px;
        width: 100px;
    }
}
