.search-form {
    max-width: 460px;
    display: flex;
    margin: 0 auto 32px;
}

input {
    font-size: 1em;
    width: 100%;
    background-color: #edeff0;
    padding: 10px 15px;
    border: 3px solid #d7dbdf;
    border-right: none;
    border-radius: 0.35em 0 0 0.35em;
    outline: none;
}

.search-form button {
    outline: none;
    background-color: #438bbd;
    border: none;
    padding: 0 15px;
    border-radius: 0 0.35em 0.35em 0;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #275270;
}
